<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->

  <div class="container">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Id</th>
        <th>descipteur</th>
        <th>lb2ID</th>
        <th>lb2LA</th>
        <th>tiSynonyme</th>
        <th>tiLA</th>
        <th>an</th>
      </tr>
      <tr *ngFor="let item of xmlItems">
        <td>{{item.id}}</td>
        <td>{{item.des}}</td>
        <td>{{item.lb2ID}}</td>
        <td>{{item.lb2LA}}</td>
        <td>{{item.tiSynonyme}}</td>
        <td>{{item.tiLA}}</td>
        <td>{{item.an}}</td>
      </tr>
    </table>
  </div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
